.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section{
  display: inline-block;
  width: 45%;
  height: 400px;
  text-align: left;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 20px;
}

textarea{
  width: 100%;
  border-radius: 5px;
  padding: 0 5px 600px;
  font-size: 16px;
}

.section p{
  margin-top: 0px;
  margin-left: 20px;
}
